{% extends 'base.html'%}
{% block body %}
{% if fb.oauth_token %}
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span2">
          <!--Sidebar content-->
    		<img src=https://graph.facebook.com/{{ fb.user_id }}/picture class="img-circle">
    		</div>
                        {% if sig_rec.page.admin %}
                          Admin page
                          <a href="{% url facebook_app.create_lottery %}" class="btn btn-large btn-primary">Create Lottery</a>
                        {% endif %}
   			<div class="bs-docs-example">
				<table class="table table-striped">
				<tbody>
				<tr>
					<td>{{ sig_rec }}</td>
				</tr>
				</tbody>
				</table>
			</div>
   			
    			<!--Body content-->
    		</div>
    	</div>
    </div>
	
{% else %}
  <a target="_top" href="{{ oauth_url }}" class="btn btn-large btn-primary">Get Accsess</a>
{%  endif %}
{%  endblock %}
